@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.placeholder-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;        /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  font-size: 0.9vw; /* Responsive font size */
  height: 150px;           /* Ensure consistent height */
  width: 100px;            /* Ensure consistent width */
}

.placeholder-box p {
  margin: 0;              /* Remove default margin */
  line-height: 1.1;       /* Adjust line height */
  overflow: hidden;       /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  width: 95%;            /* Ensure it takes the full width of the container */
}

@layer base {
  h1 {
    color: rgb(var(--foreground-rgb));
    text-align: center;
    font-size: x-large;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
