/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f4f1ea;
  --primary-color: #372212;
  --secondary-color: #b7ad98;
  --link-color: #00635d;
}

@layer base {
  h1 {
    @apply text-4xl sm:text-6xl font-bold font-roboto text-primary;
  }

  h2 {
    @apply text-2xl font-roboto font-semibold;
  }

  body {
    @apply text-primary bg-background text-lg;
  }

  p {
    @apply text-lg font-medium;
  }

  /* Style for the select dropdown */
  select.custom-dropdown {
    @apply appearance-none bg-transparent pr-2 bg-background;
  }

  select.custom-dropdown option {
    @apply text-primary bg-secondary;
  }

  /* New styles for linked text */
  a {
    @apply font-bold;
    color: var(--link-color);
    transition: color 0.3s ease;
  }

  a:hover {
    @apply underline;
  }

  button {
    @apply border border-gray-300 rounded p-2;
  }
}

@layer components {
  .placeholder-box {
    @apply flex items-center justify-center bg-secondary text-background text-center box-border overflow-hidden text-ellipsis aspect-[2/3];
    font-size: calc(0.5em + 0.5vw);
  }

  .placeholder-box p {
    @apply m-0 leading-tight overflow-hidden text-ellipsis p-1 text-sm;
    line-height: 1.1;
  }

  .nav-link {
    @apply px-4 py-2 font-semibold rounded bg-secondary text-background;
  }

  .icon {
    @apply fill-primary w-full h-full;
  }

  .scroller-element {
    @apply min-h-screen flex justify-center items-center relative z-20;
  }

  .hidden {
    @apply opacity-0 transform scale-75 transition-transform duration-default;
  }

  .visible {
    @apply opacity-100 transform scale-100 transition-transform duration-default;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  75% {
    transform: rotateY(-270deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.animate-flip {
  animation: flip 2s infinite linear;
}

.rotate-y-90 {
  transform: rotateY(90deg);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.rotate-y-270 {
  transform: rotateY(270deg);
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

/* Lock the book grid to the bottom */
.bookGrid.locked {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
