/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding-top: 2rem; /* Adjust the value as needed */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* CSS for grid container and items */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0; /* No gaps between items */
}

.grid-item {
  height: 250px; /* Adjust as needed to maintain aspect ratio */
}

/* Style for the select dropdown */
select.custom-dropdown {
  appearance: none; /* Remove default dropdown arrow */
  -webkit-appearance: none; /* Remove default dropdown arrow for Safari */
  -moz-appearance: none; /* Remove default dropdown arrow for Firefox */
  color: white; /* Text color */
  background-color: transparent; /* Background color */
  padding-right: 0.5em;
}

select.custom-dropdown option {
  color: black; /* Text color for options */
  background-color: white; /* Background color for options */
}

.placeholder-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;        /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  font-size: 0.5em + 0.5vw; /* Responsive font size */
}

.placeholder-box p {
  margin: 0;              /* Remove default margin */
  line-height: 1.1;       /* Adjust line height */
  overflow: hidden;       /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  padding: 0.2;
}

.aspect-ratio-box {
  position: relative;
  width: 100%;
  height: 0;
}

.aspect-ratio-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@layer base {
  h1 {
    color: rgb(var(--foreground-rgb));
    text-align: center;
    font-size: x-large;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
