/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f4f1ea;
  --primary-color: #372212;
  --secondary-color: #b7ad98;
}

@layer base {
  h1 {
    @apply text-4xl font-bold font-roboto;
    color: var(--primary-color);
  }

  h2 {
    @apply text-2xl font-roboto font-semibold;
  }

  body {
    color: var(--primary-color);
    background: var(--background-color);
    font-size: large;
  }

  /* Style for the select dropdown */
  select.custom-dropdown {
    @apply appearance-none bg-transparent pr-2;
    color: var(--background-color); /* Text color */
  }

  select.custom-dropdown option {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}

@layer components {
  .placeholder-box {
    @apply flex items-center justify-center bg-gray-500 text-center box-border overflow-hidden text-ellipsis aspect-[2/3];
    font-size: calc(0.5em + 0.5vw);
  }

  .placeholder-box p {
    @apply m-0 leading-tight overflow-hidden text-ellipsis p-1;
    line-height: 1.1;
  }

  .nav-link {
    @apply px-4 py-2  font-semibold rounded;
    background-color: var(--secondary-color);
    color: var(--background-color);
  }
}
